.chart-detail-modal {
    .chart-detail-container {
      padding: 20px;
    }
    
    .chart-detail {
      width: 100%;
      min-height: 500px;
    }
    
    .rs-modal-title {
      font-weight: 600;
    }
  }