.chartDetailModal {
    .chartDetailContainer {
      width: 100%;
      padding: 20px;
      
      .chartDetail {
        width: 100%;
        min-height: 500px;
      }
    }
    
    .rs-modal-title {
      font-weight: 600;
    }
  }